@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

h1 , h2{
    font-family: "Aldrich", sans-serif;
}

h1 , #s1{
    text-align: center;
    background-color: aquamarine;
}

a:link{
    color: blueviolet;
    text-decoration-line: none;
    font-weight: 900;
}

a:hover{
    color: blue;
}

a:active{
    color: red;
}

