/* transition - გამოიყენება იმისთვის, რომ ელემენტზე ცვლილებები
მოხდეს ნელა და ანიმაციურად, დროის განმავლობაში */

 /* transition-delay - განსაზღვრავს რამდენ ხანში დაიწყოს transition. */

 /* transition მხოლოდ რამდენიმე კუთვნილებაზე შეგვიძლია გავუწეროთ
იმ კუთვნილებების ჩამოწერით, რომლებზეც გვინდა ანიმაცია */


div{
    width: 200px;
    height: 200px;
    background-color: red;

    transition: background-color 1s;
}

div:hover{
    background-color: blue;
}