/* Style Inheritance არის CSS-ის მექანიზმი, როცა შვილი ელემენტი ავტომატურად იღებს 
 მშობელი ელემენტის ზოგიერთ სტილს. */


 /* 
Class selector:
Class გამოიყენება მაშინ, როცა გვინდა ერთი და იგივე სტილი რამდენიმე ელემენტს მივანიჭოთ.
Class იწერება წერტილით (.)
*/

/*
ID selector:
ID გამოიყენება კონკრეტული ერთი ელემენტისთვის.
ID იწერება # სიმბოლოთი.
ერთსა და იმავე ID-ს ერთზე მეტ ელემენტს არ ვაძლევთ.
*/

 div{
    color: red;
    background-color: black;
    font-size: medium;
 }

 .red{
    color: black;
 }

 #title{
    color: aliceblue;
 }
 
 /* რადგან ID selector-ს უფრო მაღალი პრიორიტეტი აქვს,
საბოლოოდ ტექსტი იქნება ლურჯი. */
 