*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    background-color: rgb(65, 61, 61);

    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    display: grid;
    grid-template-columns:repeat(11,150px) ;
    grid-template-rows: repeat(6, 150px) ;
    gap: 30px;
    grid-template-areas:
    " . p1 p1 p3 p3 p3 p4 p4 p4 p4 p4"
    " . p1 p1 p3 p3 p3 p4 p4 p4 p4 p4"
    " . p1 p1 p5 p5 p6 p6 p6 p9 p9 p9"
    " . p2 p2 p5 p5 p6 p6 p6 p9 p9 p9"
    " . p2 p2 p7 p7 p7 p8 p8 p9 p9 p9"
    " . p2 p2 p7 p7 p7 p8 p8 p9 p9 p9"
     ;
}

.p1{
    background-color: rgb(241, 70, 61);
    grid-area: p1;
}

.p2{
    background-color: white;
    grid-area: p2;
}

.p3{
    background-color: rgb(44, 197, 207);
    grid-area: p3;
}

.p4{
    background-color: rgb(214, 178, 105);
    grid-area: p4;
}

.p5{
    background-color: rgb(214, 178, 105);
    grid-area: p5;
}

.p6{
    background-color: white;
    grid-area: p6;
}

.p7{
    background-color: rgb(241, 70, 61);
    grid-area: p7;
}

.p8{
    background-color: rgb(44, 197, 207);
    grid-area: p8;
}

.p9{
    background-color: rgb(241, 70, 61);
    grid-area: p9;
}